<div>
<br>
	<div class="jumbotron" style="text-align: center">
			<h2>Welcome to my first application!!</h2>
			<h3>You can search, add, edit People details here.!</h3>
			<h4>Dig in..!</h4>
	</div>
	<form>
		<div>
		<div class="form-group" >
			<div class="col-sm-6 inputGroupContainer" style="float: left">
				<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" placeholder="Serarch here..." data-ng-model="search" autofocus>
			</div>
			</div>
		</div> 
		<ul class="nav nav-pills">			
				<li style="float:right">
					<a href="#/ad"><i class="fa fa-address-book" aria-hidden="true"></i>Add</a></li>
				<li style="float:right">
					<a href="#/ed"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a></li>
			</ul>	    	    
		</div>
	<br>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="person in persons | filter: search">
				<tr>
					<td>{{person.psnId}}</td>
					<td>{{person.psnName}}</td>
					<td>{{person.psnMail}}</td>
					<td>{{person.psnAge}}</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
